
/* preloader */
/* 3. Preloader */
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:lightskyblue; /* change if the mask should have another color then white */
	z-index:9999999; /* makes sure it stays on top */
}

.spinner {
	position:absolute; 
	left:50%; /* centers the loading animation horizontally one the screen */
	top:50%; /* centers the loading animation vertically one the screen */
	width: 50px;
	height: 30px;
	text-align: center;
	font-size: 10px;
	margin-left:-25px;
}

.spinner > div {
	background-color: #fff;
	height: 100%;
	width: 6px;
	display: inline-block; 
	-webkit-animation: stretchdelay 1.2s infinite ease-in-out;
	animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

@-webkit-keyframes stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
	20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
	0%, 40%, 100% { 
	transform: scaleY(0.4);
	-webkit-transform: scaleY(0.4);
	}  20% { 
	transform: scaleY(1.0);
	-webkit-transform: scaleY(1.0);
	}
}

/* nav_bar */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'consolas', sans-serif;
}
header{
    background-color: #3d66eb;
}

li.item{
    list-style: none;
}

nav a{
    color: aliceblue;
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.nav-branding{
    font-size: 2rem;
}

.link{
    transition: 0.7 ease;
}
.link:hover{
    color: #2a2b27;
}

.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px ;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out ;
    transition: all 0.3s ease-in-out;
    background-color: blue;
}
/* nav_bar */

/* content */
body{
    position: relative;
}
h1#head{
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 5vh;
    padding: 10px;
    margin: 10px;
}

ol#item_header{
    display: block;
    text-align: left;
    padding: 20px;
    margin: 5%;
}
li#tieu_de{
    margin: 10px;
    font-size: 3rem;
}

img#led_don1,#leddon{
    width:600px;
    height:auto;
    margin: 10px 10px 10px 0px;
    border: 2px solid gray;
    border-radius: 5px;
}
div#main{
    /* width: 600px;
    height: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
/* code 1 */
div.container{
    margin-left: 10px;
}

ol#item_header{
    font-size: 20px;
}



div#code1_title,#sodonguyenly1,#explain_code1{
    font-size: 5vh;
    margin: 20px auto 20px 0px;
    color: #3d66eb;
    border: 1px solid white;
    /* border-radius: 10px; */
    background-color: aliceblue;
    text-align: left;
    /* justify-content: center;
    align-items: center; */
}

div#code1{
    background-color: antiquewhite;
    /* display:flex; */
    /* justify-content: center; */
    text-align: left;
    /* align-items: center; */
    height: 60%;
    width:80%;
    border: 3px solid gray;
    margin-top: 30px;
}

pre#code_leddon1{
    /* white-space: pre-wrap; */
    width: 100%;
    height: 400px;
    word-wrap: break-word;
    text-align: left;
    overflow-x:scroll;
    overflow-y:scroll;
    padding:20px;
}
pre{
    background-color:rgb(247, 244, 239);   
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.row a{
    text-decoration: none;
    color: black;
    background-color: #3d66eb;
}

[class*="col-"] {
    float: left;
    word-wrap: break-word;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    margin: 10px 10%;
    border: 1px solid black;
    border-radius: 10px;
    width: 30%;
    min-height: fit-content;
}

div#footer {
    position: absolute;
    right: 0;
    bottom: -10;
    left: 0;
    padding: 1rem;
    font-size: 20px;
    text-align: center;
    background-color: #3d66eb;
}

@media (max-width:768px){

    /* nav_bar */

    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform:  translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top:70px;
        gap: 0;
        flex-direction: column;
        background-color: #3d66eb;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .item{
        margin: 16px 0;
    } 
    .nav-menu.active{
        left: 0;
    }   
    /* nav_bar */

    /* content */
    img#led_don1,#leddon{
        width:90%;
        height:auto;
    }
    div#code1{
        width:100%; 
    }
    div#code1_title,div#sodonguyenly1,#explain_code1,li#tieu_de,h1#head{
        font-size: 3vh;
    }
    *{
        font-size: small;
    }

}

